$primary: #1a202c;


html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  padding-top: 30px;
}

// loop for font weight 1 to 100
@for $i from 1 through 9 {
  .fw-#{$i} {
    font-weight: $i * 100;
  }
}

// loop for font size
@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: $i * 1px;
  }
}

// only for sm or bigger
@media (min-width: 576px) {
  .navbar-brand{
    padding: 0 1em;
    border-right: 1px solid #e5e7eb;
  }
}

nav{
  border-bottom: 1px solid #e5e7eb;
}

.nav-link{
  font-weight: 200;
}

.section{
  border-bottom: 1px solid #e5e7eb;
  padding: 40px 0px;
}

.btn{
  border-radius: 4px;
}

.tech-card{
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1em 1.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.c-shadow{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.tech-card:hover{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.tech-info:hover{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.15);
}

.tech-card .text-center {
  margin-top: auto;
}

.table-scrollable{
  height: 100%;
  overflow: auto;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
th, td {
  text-align: left;
}
th {
  white-space: nowrap;
}

// width loop in px from 1 to 1000
@for $i from 1 through 1000 {
  .cw-#{$i} {
    width: $i * 1px;
  }
}

.vertical-separator{
  border-right: 3px solid red;
  height: 50px;
  width: 0px;
  margin: 0 auto;
}

.horizontal-separator{
  border-bottom: 3px solid red;
  width: 50px;
  margin: auto 0;
}

.img-small{
  width: 110px;
}

.tech-logo{
  max-width: 50px;
  margin: 0 auto;
}

.c-logo{
  max-width: 200px;
  margin: 0 auto;
}

.tech-info{
  // on top right of the card
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.pre-img{
  max-width: 200px;
}

$light-blue: #95D3FB;

.little-separator{
  margin: 0px;
  padding: 0px;
  border-bottom: 3px solid $light-blue;
  width: 50px;
}

.bg-light-blue {
  background-color: $light-blue !important;
}

.text-light-blue {
  color: $light-blue !important;
}

.border-light-blue {
  border-color: $light-blue !important;
}

.btn-light-blue {
  background-color: $light-blue;
  color: #fff;
  &:hover {
    background-color: darken($light-blue, 10%);
  }
}

.btn-outline-light-blue {
  border-color: $light-blue;
  color: $light-blue;
  &:hover {
    background-color: $light-blue;
    color: #fff;
  }
}

.alert-light-blue {
  background-color: $light-blue;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.table-light-blue {
  th,
  td {
    background-color: $light-blue;
    color: #fff;
  }
}

.list-group-item-light-blue {
  background-color: $light-blue;
  color: #fff;
  &:hover {
    background-color: darken($light-blue, 10%);
  }
}

.badge-light-blue {
  background-color: $light-blue;
  color: #fff;
}

.dropdown-item-light-blue {
  background-color: $light-blue;
  color: #fff;
  &:hover {
    background-color: darken($light-blue, 10%);
    color: #fff;
  }
}

.form-control-light-blue {
  background-color: $light-blue;
  color: #fff;
}

.custom-select-light-blue {
  background-color: $light-blue;
  color: #fff;
}

.nav-link-light-blue {
  color: $light-blue;
  &:hover {
    color: darken($light-blue, 10%);
  }
}

.progress-bar-light-blue {
  background-color: $light-blue;
}

.carousel-indicator-light-blue {
  background-color: $light-blue;
}

.c-image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;

  img {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
  }

  &:hover img {
    filter: grayscale(0%);
  }
}

$c-wrapper-margin: 7%;

.c-wrapper {
  margin-top: $c-wrapper-margin;
}

// biggger margin for mobile
@media (max-width: 768px) {
  .c-wrapper {
    margin-top: $c-wrapper-margin * 2;
  }
}

.nav-link.active {
  color: $light-blue;
}

.fa-gitlab:hover {
  color: #fc6d26;
}

.fa-github:hover {
  color: #7a067a;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.logo-mini{
  width: 30px;
}
