.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.fs-1 {
  font-size: 1px;
}

.fs-2 {
  font-size: 2px;
}

.fs-3 {
  font-size: 3px;
}

.fs-4 {
  font-size: 4px;
}

.fs-5 {
  font-size: 5px;
}

.fs-6 {
  font-size: 6px;
}

.fs-7 {
  font-size: 7px;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.fs-43 {
  font-size: 43px;
}

.fs-44 {
  font-size: 44px;
}

.fs-45 {
  font-size: 45px;
}

.fs-46 {
  font-size: 46px;
}

.fs-47 {
  font-size: 47px;
}

.fs-48 {
  font-size: 48px;
}

.fs-49 {
  font-size: 49px;
}

.fs-50 {
  font-size: 50px;
}

.fs-51 {
  font-size: 51px;
}

.fs-52 {
  font-size: 52px;
}

.fs-53 {
  font-size: 53px;
}

.fs-54 {
  font-size: 54px;
}

.fs-55 {
  font-size: 55px;
}

.fs-56 {
  font-size: 56px;
}

.fs-57 {
  font-size: 57px;
}

.fs-58 {
  font-size: 58px;
}

.fs-59 {
  font-size: 59px;
}

.fs-60 {
  font-size: 60px;
}

.fs-61 {
  font-size: 61px;
}

.fs-62 {
  font-size: 62px;
}

.fs-63 {
  font-size: 63px;
}

.fs-64 {
  font-size: 64px;
}

.fs-65 {
  font-size: 65px;
}

.fs-66 {
  font-size: 66px;
}

.fs-67 {
  font-size: 67px;
}

.fs-68 {
  font-size: 68px;
}

.fs-69 {
  font-size: 69px;
}

.fs-70 {
  font-size: 70px;
}

.fs-71 {
  font-size: 71px;
}

.fs-72 {
  font-size: 72px;
}

.fs-73 {
  font-size: 73px;
}

.fs-74 {
  font-size: 74px;
}

.fs-75 {
  font-size: 75px;
}

.fs-76 {
  font-size: 76px;
}

.fs-77 {
  font-size: 77px;
}

.fs-78 {
  font-size: 78px;
}

.fs-79 {
  font-size: 79px;
}

.fs-80 {
  font-size: 80px;
}

.fs-81 {
  font-size: 81px;
}

.fs-82 {
  font-size: 82px;
}

.fs-83 {
  font-size: 83px;
}

.fs-84 {
  font-size: 84px;
}

.fs-85 {
  font-size: 85px;
}

.fs-86 {
  font-size: 86px;
}

.fs-87 {
  font-size: 87px;
}

.fs-88 {
  font-size: 88px;
}

.fs-89 {
  font-size: 89px;
}

.fs-90 {
  font-size: 90px;
}

.fs-91 {
  font-size: 91px;
}

.fs-92 {
  font-size: 92px;
}

.fs-93 {
  font-size: 93px;
}

.fs-94 {
  font-size: 94px;
}

.fs-95 {
  font-size: 95px;
}

.fs-96 {
  font-size: 96px;
}

.fs-97 {
  font-size: 97px;
}

.fs-98 {
  font-size: 98px;
}

.fs-99 {
  font-size: 99px;
}

.fs-100 {
  font-size: 100px;
}

@media (min-width: 576px) {
  .navbar-brand {
    padding: 0 1em;
    border-right: 1px solid #e5e7eb;
  }
}
.little-separator {
  margin: 0px;
  padding: 0px;
  border-bottom: 3px solid #1a202c;
  width: 50px;
}

nav {
  border-bottom: 1px solid #e5e7eb;
}

.section {
  border-bottom: 1px solid #e5e7eb;
  padding: 50px 0px;
}

.btn {
  border-radius: 4px;
}

.tech-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 1em 1.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tech-card:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.tech-card .text-center {
  margin-top: auto;
}

.table-scrollable {
  height: 100%;
  overflow: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  text-align: left;
}

th {
  white-space: nowrap;
}

.cw-1 {
  width: 1px;
}

.cw-2 {
  width: 2px;
}

.cw-3 {
  width: 3px;
}

.cw-4 {
  width: 4px;
}

.cw-5 {
  width: 5px;
}

.cw-6 {
  width: 6px;
}

.cw-7 {
  width: 7px;
}

.cw-8 {
  width: 8px;
}

.cw-9 {
  width: 9px;
}

.cw-10 {
  width: 10px;
}

.cw-11 {
  width: 11px;
}

.cw-12 {
  width: 12px;
}

.cw-13 {
  width: 13px;
}

.cw-14 {
  width: 14px;
}

.cw-15 {
  width: 15px;
}

.cw-16 {
  width: 16px;
}

.cw-17 {
  width: 17px;
}

.cw-18 {
  width: 18px;
}

.cw-19 {
  width: 19px;
}

.cw-20 {
  width: 20px;
}

.cw-21 {
  width: 21px;
}

.cw-22 {
  width: 22px;
}

.cw-23 {
  width: 23px;
}

.cw-24 {
  width: 24px;
}

.cw-25 {
  width: 25px;
}

.cw-26 {
  width: 26px;
}

.cw-27 {
  width: 27px;
}

.cw-28 {
  width: 28px;
}

.cw-29 {
  width: 29px;
}

.cw-30 {
  width: 30px;
}

.cw-31 {
  width: 31px;
}

.cw-32 {
  width: 32px;
}

.cw-33 {
  width: 33px;
}

.cw-34 {
  width: 34px;
}

.cw-35 {
  width: 35px;
}

.cw-36 {
  width: 36px;
}

.cw-37 {
  width: 37px;
}

.cw-38 {
  width: 38px;
}

.cw-39 {
  width: 39px;
}

.cw-40 {
  width: 40px;
}

.cw-41 {
  width: 41px;
}

.cw-42 {
  width: 42px;
}

.cw-43 {
  width: 43px;
}

.cw-44 {
  width: 44px;
}

.cw-45 {
  width: 45px;
}

.cw-46 {
  width: 46px;
}

.cw-47 {
  width: 47px;
}

.cw-48 {
  width: 48px;
}

.cw-49 {
  width: 49px;
}

.cw-50 {
  width: 50px;
}

.cw-51 {
  width: 51px;
}

.cw-52 {
  width: 52px;
}

.cw-53 {
  width: 53px;
}

.cw-54 {
  width: 54px;
}

.cw-55 {
  width: 55px;
}

.cw-56 {
  width: 56px;
}

.cw-57 {
  width: 57px;
}

.cw-58 {
  width: 58px;
}

.cw-59 {
  width: 59px;
}

.cw-60 {
  width: 60px;
}

.cw-61 {
  width: 61px;
}

.cw-62 {
  width: 62px;
}

.cw-63 {
  width: 63px;
}

.cw-64 {
  width: 64px;
}

.cw-65 {
  width: 65px;
}

.cw-66 {
  width: 66px;
}

.cw-67 {
  width: 67px;
}

.cw-68 {
  width: 68px;
}

.cw-69 {
  width: 69px;
}

.cw-70 {
  width: 70px;
}

.cw-71 {
  width: 71px;
}

.cw-72 {
  width: 72px;
}

.cw-73 {
  width: 73px;
}

.cw-74 {
  width: 74px;
}

.cw-75 {
  width: 75px;
}

.cw-76 {
  width: 76px;
}

.cw-77 {
  width: 77px;
}

.cw-78 {
  width: 78px;
}

.cw-79 {
  width: 79px;
}

.cw-80 {
  width: 80px;
}

.cw-81 {
  width: 81px;
}

.cw-82 {
  width: 82px;
}

.cw-83 {
  width: 83px;
}

.cw-84 {
  width: 84px;
}

.cw-85 {
  width: 85px;
}

.cw-86 {
  width: 86px;
}

.cw-87 {
  width: 87px;
}

.cw-88 {
  width: 88px;
}

.cw-89 {
  width: 89px;
}

.cw-90 {
  width: 90px;
}

.cw-91 {
  width: 91px;
}

.cw-92 {
  width: 92px;
}

.cw-93 {
  width: 93px;
}

.cw-94 {
  width: 94px;
}

.cw-95 {
  width: 95px;
}

.cw-96 {
  width: 96px;
}

.cw-97 {
  width: 97px;
}

.cw-98 {
  width: 98px;
}

.cw-99 {
  width: 99px;
}

.cw-100 {
  width: 100px;
}

.cw-101 {
  width: 101px;
}

.cw-102 {
  width: 102px;
}

.cw-103 {
  width: 103px;
}

.cw-104 {
  width: 104px;
}

.cw-105 {
  width: 105px;
}

.cw-106 {
  width: 106px;
}

.cw-107 {
  width: 107px;
}

.cw-108 {
  width: 108px;
}

.cw-109 {
  width: 109px;
}

.cw-110 {
  width: 110px;
}

.cw-111 {
  width: 111px;
}

.cw-112 {
  width: 112px;
}

.cw-113 {
  width: 113px;
}

.cw-114 {
  width: 114px;
}

.cw-115 {
  width: 115px;
}

.cw-116 {
  width: 116px;
}

.cw-117 {
  width: 117px;
}

.cw-118 {
  width: 118px;
}

.cw-119 {
  width: 119px;
}

.cw-120 {
  width: 120px;
}

.cw-121 {
  width: 121px;
}

.cw-122 {
  width: 122px;
}

.cw-123 {
  width: 123px;
}

.cw-124 {
  width: 124px;
}

.cw-125 {
  width: 125px;
}

.cw-126 {
  width: 126px;
}

.cw-127 {
  width: 127px;
}

.cw-128 {
  width: 128px;
}

.cw-129 {
  width: 129px;
}

.cw-130 {
  width: 130px;
}

.cw-131 {
  width: 131px;
}

.cw-132 {
  width: 132px;
}

.cw-133 {
  width: 133px;
}

.cw-134 {
  width: 134px;
}

.cw-135 {
  width: 135px;
}

.cw-136 {
  width: 136px;
}

.cw-137 {
  width: 137px;
}

.cw-138 {
  width: 138px;
}

.cw-139 {
  width: 139px;
}

.cw-140 {
  width: 140px;
}

.cw-141 {
  width: 141px;
}

.cw-142 {
  width: 142px;
}

.cw-143 {
  width: 143px;
}

.cw-144 {
  width: 144px;
}

.cw-145 {
  width: 145px;
}

.cw-146 {
  width: 146px;
}

.cw-147 {
  width: 147px;
}

.cw-148 {
  width: 148px;
}

.cw-149 {
  width: 149px;
}

.cw-150 {
  width: 150px;
}

.cw-151 {
  width: 151px;
}

.cw-152 {
  width: 152px;
}

.cw-153 {
  width: 153px;
}

.cw-154 {
  width: 154px;
}

.cw-155 {
  width: 155px;
}

.cw-156 {
  width: 156px;
}

.cw-157 {
  width: 157px;
}

.cw-158 {
  width: 158px;
}

.cw-159 {
  width: 159px;
}

.cw-160 {
  width: 160px;
}

.cw-161 {
  width: 161px;
}

.cw-162 {
  width: 162px;
}

.cw-163 {
  width: 163px;
}

.cw-164 {
  width: 164px;
}

.cw-165 {
  width: 165px;
}

.cw-166 {
  width: 166px;
}

.cw-167 {
  width: 167px;
}

.cw-168 {
  width: 168px;
}

.cw-169 {
  width: 169px;
}

.cw-170 {
  width: 170px;
}

.cw-171 {
  width: 171px;
}

.cw-172 {
  width: 172px;
}

.cw-173 {
  width: 173px;
}

.cw-174 {
  width: 174px;
}

.cw-175 {
  width: 175px;
}

.cw-176 {
  width: 176px;
}

.cw-177 {
  width: 177px;
}

.cw-178 {
  width: 178px;
}

.cw-179 {
  width: 179px;
}

.cw-180 {
  width: 180px;
}

.cw-181 {
  width: 181px;
}

.cw-182 {
  width: 182px;
}

.cw-183 {
  width: 183px;
}

.cw-184 {
  width: 184px;
}

.cw-185 {
  width: 185px;
}

.cw-186 {
  width: 186px;
}

.cw-187 {
  width: 187px;
}

.cw-188 {
  width: 188px;
}

.cw-189 {
  width: 189px;
}

.cw-190 {
  width: 190px;
}

.cw-191 {
  width: 191px;
}

.cw-192 {
  width: 192px;
}

.cw-193 {
  width: 193px;
}

.cw-194 {
  width: 194px;
}

.cw-195 {
  width: 195px;
}

.cw-196 {
  width: 196px;
}

.cw-197 {
  width: 197px;
}

.cw-198 {
  width: 198px;
}

.cw-199 {
  width: 199px;
}

.cw-200 {
  width: 200px;
}

.cw-201 {
  width: 201px;
}

.cw-202 {
  width: 202px;
}

.cw-203 {
  width: 203px;
}

.cw-204 {
  width: 204px;
}

.cw-205 {
  width: 205px;
}

.cw-206 {
  width: 206px;
}

.cw-207 {
  width: 207px;
}

.cw-208 {
  width: 208px;
}

.cw-209 {
  width: 209px;
}

.cw-210 {
  width: 210px;
}

.cw-211 {
  width: 211px;
}

.cw-212 {
  width: 212px;
}

.cw-213 {
  width: 213px;
}

.cw-214 {
  width: 214px;
}

.cw-215 {
  width: 215px;
}

.cw-216 {
  width: 216px;
}

.cw-217 {
  width: 217px;
}

.cw-218 {
  width: 218px;
}

.cw-219 {
  width: 219px;
}

.cw-220 {
  width: 220px;
}

.cw-221 {
  width: 221px;
}

.cw-222 {
  width: 222px;
}

.cw-223 {
  width: 223px;
}

.cw-224 {
  width: 224px;
}

.cw-225 {
  width: 225px;
}

.cw-226 {
  width: 226px;
}

.cw-227 {
  width: 227px;
}

.cw-228 {
  width: 228px;
}

.cw-229 {
  width: 229px;
}

.cw-230 {
  width: 230px;
}

.cw-231 {
  width: 231px;
}

.cw-232 {
  width: 232px;
}

.cw-233 {
  width: 233px;
}

.cw-234 {
  width: 234px;
}

.cw-235 {
  width: 235px;
}

.cw-236 {
  width: 236px;
}

.cw-237 {
  width: 237px;
}

.cw-238 {
  width: 238px;
}

.cw-239 {
  width: 239px;
}

.cw-240 {
  width: 240px;
}

.cw-241 {
  width: 241px;
}

.cw-242 {
  width: 242px;
}

.cw-243 {
  width: 243px;
}

.cw-244 {
  width: 244px;
}

.cw-245 {
  width: 245px;
}

.cw-246 {
  width: 246px;
}

.cw-247 {
  width: 247px;
}

.cw-248 {
  width: 248px;
}

.cw-249 {
  width: 249px;
}

.cw-250 {
  width: 250px;
}

.cw-251 {
  width: 251px;
}

.cw-252 {
  width: 252px;
}

.cw-253 {
  width: 253px;
}

.cw-254 {
  width: 254px;
}

.cw-255 {
  width: 255px;
}

.cw-256 {
  width: 256px;
}

.cw-257 {
  width: 257px;
}

.cw-258 {
  width: 258px;
}

.cw-259 {
  width: 259px;
}

.cw-260 {
  width: 260px;
}

.cw-261 {
  width: 261px;
}

.cw-262 {
  width: 262px;
}

.cw-263 {
  width: 263px;
}

.cw-264 {
  width: 264px;
}

.cw-265 {
  width: 265px;
}

.cw-266 {
  width: 266px;
}

.cw-267 {
  width: 267px;
}

.cw-268 {
  width: 268px;
}

.cw-269 {
  width: 269px;
}

.cw-270 {
  width: 270px;
}

.cw-271 {
  width: 271px;
}

.cw-272 {
  width: 272px;
}

.cw-273 {
  width: 273px;
}

.cw-274 {
  width: 274px;
}

.cw-275 {
  width: 275px;
}

.cw-276 {
  width: 276px;
}

.cw-277 {
  width: 277px;
}

.cw-278 {
  width: 278px;
}

.cw-279 {
  width: 279px;
}

.cw-280 {
  width: 280px;
}

.cw-281 {
  width: 281px;
}

.cw-282 {
  width: 282px;
}

.cw-283 {
  width: 283px;
}

.cw-284 {
  width: 284px;
}

.cw-285 {
  width: 285px;
}

.cw-286 {
  width: 286px;
}

.cw-287 {
  width: 287px;
}

.cw-288 {
  width: 288px;
}

.cw-289 {
  width: 289px;
}

.cw-290 {
  width: 290px;
}

.cw-291 {
  width: 291px;
}

.cw-292 {
  width: 292px;
}

.cw-293 {
  width: 293px;
}

.cw-294 {
  width: 294px;
}

.cw-295 {
  width: 295px;
}

.cw-296 {
  width: 296px;
}

.cw-297 {
  width: 297px;
}

.cw-298 {
  width: 298px;
}

.cw-299 {
  width: 299px;
}

.cw-300 {
  width: 300px;
}

.cw-301 {
  width: 301px;
}

.cw-302 {
  width: 302px;
}

.cw-303 {
  width: 303px;
}

.cw-304 {
  width: 304px;
}

.cw-305 {
  width: 305px;
}

.cw-306 {
  width: 306px;
}

.cw-307 {
  width: 307px;
}

.cw-308 {
  width: 308px;
}

.cw-309 {
  width: 309px;
}

.cw-310 {
  width: 310px;
}

.cw-311 {
  width: 311px;
}

.cw-312 {
  width: 312px;
}

.cw-313 {
  width: 313px;
}

.cw-314 {
  width: 314px;
}

.cw-315 {
  width: 315px;
}

.cw-316 {
  width: 316px;
}

.cw-317 {
  width: 317px;
}

.cw-318 {
  width: 318px;
}

.cw-319 {
  width: 319px;
}

.cw-320 {
  width: 320px;
}

.cw-321 {
  width: 321px;
}

.cw-322 {
  width: 322px;
}

.cw-323 {
  width: 323px;
}

.cw-324 {
  width: 324px;
}

.cw-325 {
  width: 325px;
}

.cw-326 {
  width: 326px;
}

.cw-327 {
  width: 327px;
}

.cw-328 {
  width: 328px;
}

.cw-329 {
  width: 329px;
}

.cw-330 {
  width: 330px;
}

.cw-331 {
  width: 331px;
}

.cw-332 {
  width: 332px;
}

.cw-333 {
  width: 333px;
}

.cw-334 {
  width: 334px;
}

.cw-335 {
  width: 335px;
}

.cw-336 {
  width: 336px;
}

.cw-337 {
  width: 337px;
}

.cw-338 {
  width: 338px;
}

.cw-339 {
  width: 339px;
}

.cw-340 {
  width: 340px;
}

.cw-341 {
  width: 341px;
}

.cw-342 {
  width: 342px;
}

.cw-343 {
  width: 343px;
}

.cw-344 {
  width: 344px;
}

.cw-345 {
  width: 345px;
}

.cw-346 {
  width: 346px;
}

.cw-347 {
  width: 347px;
}

.cw-348 {
  width: 348px;
}

.cw-349 {
  width: 349px;
}

.cw-350 {
  width: 350px;
}

.cw-351 {
  width: 351px;
}

.cw-352 {
  width: 352px;
}

.cw-353 {
  width: 353px;
}

.cw-354 {
  width: 354px;
}

.cw-355 {
  width: 355px;
}

.cw-356 {
  width: 356px;
}

.cw-357 {
  width: 357px;
}

.cw-358 {
  width: 358px;
}

.cw-359 {
  width: 359px;
}

.cw-360 {
  width: 360px;
}

.cw-361 {
  width: 361px;
}

.cw-362 {
  width: 362px;
}

.cw-363 {
  width: 363px;
}

.cw-364 {
  width: 364px;
}

.cw-365 {
  width: 365px;
}

.cw-366 {
  width: 366px;
}

.cw-367 {
  width: 367px;
}

.cw-368 {
  width: 368px;
}

.cw-369 {
  width: 369px;
}

.cw-370 {
  width: 370px;
}

.cw-371 {
  width: 371px;
}

.cw-372 {
  width: 372px;
}

.cw-373 {
  width: 373px;
}

.cw-374 {
  width: 374px;
}

.cw-375 {
  width: 375px;
}

.cw-376 {
  width: 376px;
}

.cw-377 {
  width: 377px;
}

.cw-378 {
  width: 378px;
}

.cw-379 {
  width: 379px;
}

.cw-380 {
  width: 380px;
}

.cw-381 {
  width: 381px;
}

.cw-382 {
  width: 382px;
}

.cw-383 {
  width: 383px;
}

.cw-384 {
  width: 384px;
}

.cw-385 {
  width: 385px;
}

.cw-386 {
  width: 386px;
}

.cw-387 {
  width: 387px;
}

.cw-388 {
  width: 388px;
}

.cw-389 {
  width: 389px;
}

.cw-390 {
  width: 390px;
}

.cw-391 {
  width: 391px;
}

.cw-392 {
  width: 392px;
}

.cw-393 {
  width: 393px;
}

.cw-394 {
  width: 394px;
}

.cw-395 {
  width: 395px;
}

.cw-396 {
  width: 396px;
}

.cw-397 {
  width: 397px;
}

.cw-398 {
  width: 398px;
}

.cw-399 {
  width: 399px;
}

.cw-400 {
  width: 400px;
}

.cw-401 {
  width: 401px;
}

.cw-402 {
  width: 402px;
}

.cw-403 {
  width: 403px;
}

.cw-404 {
  width: 404px;
}

.cw-405 {
  width: 405px;
}

.cw-406 {
  width: 406px;
}

.cw-407 {
  width: 407px;
}

.cw-408 {
  width: 408px;
}

.cw-409 {
  width: 409px;
}

.cw-410 {
  width: 410px;
}

.cw-411 {
  width: 411px;
}

.cw-412 {
  width: 412px;
}

.cw-413 {
  width: 413px;
}

.cw-414 {
  width: 414px;
}

.cw-415 {
  width: 415px;
}

.cw-416 {
  width: 416px;
}

.cw-417 {
  width: 417px;
}

.cw-418 {
  width: 418px;
}

.cw-419 {
  width: 419px;
}

.cw-420 {
  width: 420px;
}

.cw-421 {
  width: 421px;
}

.cw-422 {
  width: 422px;
}

.cw-423 {
  width: 423px;
}

.cw-424 {
  width: 424px;
}

.cw-425 {
  width: 425px;
}

.cw-426 {
  width: 426px;
}

.cw-427 {
  width: 427px;
}

.cw-428 {
  width: 428px;
}

.cw-429 {
  width: 429px;
}

.cw-430 {
  width: 430px;
}

.cw-431 {
  width: 431px;
}

.cw-432 {
  width: 432px;
}

.cw-433 {
  width: 433px;
}

.cw-434 {
  width: 434px;
}

.cw-435 {
  width: 435px;
}

.cw-436 {
  width: 436px;
}

.cw-437 {
  width: 437px;
}

.cw-438 {
  width: 438px;
}

.cw-439 {
  width: 439px;
}

.cw-440 {
  width: 440px;
}

.cw-441 {
  width: 441px;
}

.cw-442 {
  width: 442px;
}

.cw-443 {
  width: 443px;
}

.cw-444 {
  width: 444px;
}

.cw-445 {
  width: 445px;
}

.cw-446 {
  width: 446px;
}

.cw-447 {
  width: 447px;
}

.cw-448 {
  width: 448px;
}

.cw-449 {
  width: 449px;
}

.cw-450 {
  width: 450px;
}

.cw-451 {
  width: 451px;
}

.cw-452 {
  width: 452px;
}

.cw-453 {
  width: 453px;
}

.cw-454 {
  width: 454px;
}

.cw-455 {
  width: 455px;
}

.cw-456 {
  width: 456px;
}

.cw-457 {
  width: 457px;
}

.cw-458 {
  width: 458px;
}

.cw-459 {
  width: 459px;
}

.cw-460 {
  width: 460px;
}

.cw-461 {
  width: 461px;
}

.cw-462 {
  width: 462px;
}

.cw-463 {
  width: 463px;
}

.cw-464 {
  width: 464px;
}

.cw-465 {
  width: 465px;
}

.cw-466 {
  width: 466px;
}

.cw-467 {
  width: 467px;
}

.cw-468 {
  width: 468px;
}

.cw-469 {
  width: 469px;
}

.cw-470 {
  width: 470px;
}

.cw-471 {
  width: 471px;
}

.cw-472 {
  width: 472px;
}

.cw-473 {
  width: 473px;
}

.cw-474 {
  width: 474px;
}

.cw-475 {
  width: 475px;
}

.cw-476 {
  width: 476px;
}

.cw-477 {
  width: 477px;
}

.cw-478 {
  width: 478px;
}

.cw-479 {
  width: 479px;
}

.cw-480 {
  width: 480px;
}

.cw-481 {
  width: 481px;
}

.cw-482 {
  width: 482px;
}

.cw-483 {
  width: 483px;
}

.cw-484 {
  width: 484px;
}

.cw-485 {
  width: 485px;
}

.cw-486 {
  width: 486px;
}

.cw-487 {
  width: 487px;
}

.cw-488 {
  width: 488px;
}

.cw-489 {
  width: 489px;
}

.cw-490 {
  width: 490px;
}

.cw-491 {
  width: 491px;
}

.cw-492 {
  width: 492px;
}

.cw-493 {
  width: 493px;
}

.cw-494 {
  width: 494px;
}

.cw-495 {
  width: 495px;
}

.cw-496 {
  width: 496px;
}

.cw-497 {
  width: 497px;
}

.cw-498 {
  width: 498px;
}

.cw-499 {
  width: 499px;
}

.cw-500 {
  width: 500px;
}

.cw-501 {
  width: 501px;
}

.cw-502 {
  width: 502px;
}

.cw-503 {
  width: 503px;
}

.cw-504 {
  width: 504px;
}

.cw-505 {
  width: 505px;
}

.cw-506 {
  width: 506px;
}

.cw-507 {
  width: 507px;
}

.cw-508 {
  width: 508px;
}

.cw-509 {
  width: 509px;
}

.cw-510 {
  width: 510px;
}

.cw-511 {
  width: 511px;
}

.cw-512 {
  width: 512px;
}

.cw-513 {
  width: 513px;
}

.cw-514 {
  width: 514px;
}

.cw-515 {
  width: 515px;
}

.cw-516 {
  width: 516px;
}

.cw-517 {
  width: 517px;
}

.cw-518 {
  width: 518px;
}

.cw-519 {
  width: 519px;
}

.cw-520 {
  width: 520px;
}

.cw-521 {
  width: 521px;
}

.cw-522 {
  width: 522px;
}

.cw-523 {
  width: 523px;
}

.cw-524 {
  width: 524px;
}

.cw-525 {
  width: 525px;
}

.cw-526 {
  width: 526px;
}

.cw-527 {
  width: 527px;
}

.cw-528 {
  width: 528px;
}

.cw-529 {
  width: 529px;
}

.cw-530 {
  width: 530px;
}

.cw-531 {
  width: 531px;
}

.cw-532 {
  width: 532px;
}

.cw-533 {
  width: 533px;
}

.cw-534 {
  width: 534px;
}

.cw-535 {
  width: 535px;
}

.cw-536 {
  width: 536px;
}

.cw-537 {
  width: 537px;
}

.cw-538 {
  width: 538px;
}

.cw-539 {
  width: 539px;
}

.cw-540 {
  width: 540px;
}

.cw-541 {
  width: 541px;
}

.cw-542 {
  width: 542px;
}

.cw-543 {
  width: 543px;
}

.cw-544 {
  width: 544px;
}

.cw-545 {
  width: 545px;
}

.cw-546 {
  width: 546px;
}

.cw-547 {
  width: 547px;
}

.cw-548 {
  width: 548px;
}

.cw-549 {
  width: 549px;
}

.cw-550 {
  width: 550px;
}

.cw-551 {
  width: 551px;
}

.cw-552 {
  width: 552px;
}

.cw-553 {
  width: 553px;
}

.cw-554 {
  width: 554px;
}

.cw-555 {
  width: 555px;
}

.cw-556 {
  width: 556px;
}

.cw-557 {
  width: 557px;
}

.cw-558 {
  width: 558px;
}

.cw-559 {
  width: 559px;
}

.cw-560 {
  width: 560px;
}

.cw-561 {
  width: 561px;
}

.cw-562 {
  width: 562px;
}

.cw-563 {
  width: 563px;
}

.cw-564 {
  width: 564px;
}

.cw-565 {
  width: 565px;
}

.cw-566 {
  width: 566px;
}

.cw-567 {
  width: 567px;
}

.cw-568 {
  width: 568px;
}

.cw-569 {
  width: 569px;
}

.cw-570 {
  width: 570px;
}

.cw-571 {
  width: 571px;
}

.cw-572 {
  width: 572px;
}

.cw-573 {
  width: 573px;
}

.cw-574 {
  width: 574px;
}

.cw-575 {
  width: 575px;
}

.cw-576 {
  width: 576px;
}

.cw-577 {
  width: 577px;
}

.cw-578 {
  width: 578px;
}

.cw-579 {
  width: 579px;
}

.cw-580 {
  width: 580px;
}

.cw-581 {
  width: 581px;
}

.cw-582 {
  width: 582px;
}

.cw-583 {
  width: 583px;
}

.cw-584 {
  width: 584px;
}

.cw-585 {
  width: 585px;
}

.cw-586 {
  width: 586px;
}

.cw-587 {
  width: 587px;
}

.cw-588 {
  width: 588px;
}

.cw-589 {
  width: 589px;
}

.cw-590 {
  width: 590px;
}

.cw-591 {
  width: 591px;
}

.cw-592 {
  width: 592px;
}

.cw-593 {
  width: 593px;
}

.cw-594 {
  width: 594px;
}

.cw-595 {
  width: 595px;
}

.cw-596 {
  width: 596px;
}

.cw-597 {
  width: 597px;
}

.cw-598 {
  width: 598px;
}

.cw-599 {
  width: 599px;
}

.cw-600 {
  width: 600px;
}

.cw-601 {
  width: 601px;
}

.cw-602 {
  width: 602px;
}

.cw-603 {
  width: 603px;
}

.cw-604 {
  width: 604px;
}

.cw-605 {
  width: 605px;
}

.cw-606 {
  width: 606px;
}

.cw-607 {
  width: 607px;
}

.cw-608 {
  width: 608px;
}

.cw-609 {
  width: 609px;
}

.cw-610 {
  width: 610px;
}

.cw-611 {
  width: 611px;
}

.cw-612 {
  width: 612px;
}

.cw-613 {
  width: 613px;
}

.cw-614 {
  width: 614px;
}

.cw-615 {
  width: 615px;
}

.cw-616 {
  width: 616px;
}

.cw-617 {
  width: 617px;
}

.cw-618 {
  width: 618px;
}

.cw-619 {
  width: 619px;
}

.cw-620 {
  width: 620px;
}

.cw-621 {
  width: 621px;
}

.cw-622 {
  width: 622px;
}

.cw-623 {
  width: 623px;
}

.cw-624 {
  width: 624px;
}

.cw-625 {
  width: 625px;
}

.cw-626 {
  width: 626px;
}

.cw-627 {
  width: 627px;
}

.cw-628 {
  width: 628px;
}

.cw-629 {
  width: 629px;
}

.cw-630 {
  width: 630px;
}

.cw-631 {
  width: 631px;
}

.cw-632 {
  width: 632px;
}

.cw-633 {
  width: 633px;
}

.cw-634 {
  width: 634px;
}

.cw-635 {
  width: 635px;
}

.cw-636 {
  width: 636px;
}

.cw-637 {
  width: 637px;
}

.cw-638 {
  width: 638px;
}

.cw-639 {
  width: 639px;
}

.cw-640 {
  width: 640px;
}

.cw-641 {
  width: 641px;
}

.cw-642 {
  width: 642px;
}

.cw-643 {
  width: 643px;
}

.cw-644 {
  width: 644px;
}

.cw-645 {
  width: 645px;
}

.cw-646 {
  width: 646px;
}

.cw-647 {
  width: 647px;
}

.cw-648 {
  width: 648px;
}

.cw-649 {
  width: 649px;
}

.cw-650 {
  width: 650px;
}

.cw-651 {
  width: 651px;
}

.cw-652 {
  width: 652px;
}

.cw-653 {
  width: 653px;
}

.cw-654 {
  width: 654px;
}

.cw-655 {
  width: 655px;
}

.cw-656 {
  width: 656px;
}

.cw-657 {
  width: 657px;
}

.cw-658 {
  width: 658px;
}

.cw-659 {
  width: 659px;
}

.cw-660 {
  width: 660px;
}

.cw-661 {
  width: 661px;
}

.cw-662 {
  width: 662px;
}

.cw-663 {
  width: 663px;
}

.cw-664 {
  width: 664px;
}

.cw-665 {
  width: 665px;
}

.cw-666 {
  width: 666px;
}

.cw-667 {
  width: 667px;
}

.cw-668 {
  width: 668px;
}

.cw-669 {
  width: 669px;
}

.cw-670 {
  width: 670px;
}

.cw-671 {
  width: 671px;
}

.cw-672 {
  width: 672px;
}

.cw-673 {
  width: 673px;
}

.cw-674 {
  width: 674px;
}

.cw-675 {
  width: 675px;
}

.cw-676 {
  width: 676px;
}

.cw-677 {
  width: 677px;
}

.cw-678 {
  width: 678px;
}

.cw-679 {
  width: 679px;
}

.cw-680 {
  width: 680px;
}

.cw-681 {
  width: 681px;
}

.cw-682 {
  width: 682px;
}

.cw-683 {
  width: 683px;
}

.cw-684 {
  width: 684px;
}

.cw-685 {
  width: 685px;
}

.cw-686 {
  width: 686px;
}

.cw-687 {
  width: 687px;
}

.cw-688 {
  width: 688px;
}

.cw-689 {
  width: 689px;
}

.cw-690 {
  width: 690px;
}

.cw-691 {
  width: 691px;
}

.cw-692 {
  width: 692px;
}

.cw-693 {
  width: 693px;
}

.cw-694 {
  width: 694px;
}

.cw-695 {
  width: 695px;
}

.cw-696 {
  width: 696px;
}

.cw-697 {
  width: 697px;
}

.cw-698 {
  width: 698px;
}

.cw-699 {
  width: 699px;
}

.cw-700 {
  width: 700px;
}

.cw-701 {
  width: 701px;
}

.cw-702 {
  width: 702px;
}

.cw-703 {
  width: 703px;
}

.cw-704 {
  width: 704px;
}

.cw-705 {
  width: 705px;
}

.cw-706 {
  width: 706px;
}

.cw-707 {
  width: 707px;
}

.cw-708 {
  width: 708px;
}

.cw-709 {
  width: 709px;
}

.cw-710 {
  width: 710px;
}

.cw-711 {
  width: 711px;
}

.cw-712 {
  width: 712px;
}

.cw-713 {
  width: 713px;
}

.cw-714 {
  width: 714px;
}

.cw-715 {
  width: 715px;
}

.cw-716 {
  width: 716px;
}

.cw-717 {
  width: 717px;
}

.cw-718 {
  width: 718px;
}

.cw-719 {
  width: 719px;
}

.cw-720 {
  width: 720px;
}

.cw-721 {
  width: 721px;
}

.cw-722 {
  width: 722px;
}

.cw-723 {
  width: 723px;
}

.cw-724 {
  width: 724px;
}

.cw-725 {
  width: 725px;
}

.cw-726 {
  width: 726px;
}

.cw-727 {
  width: 727px;
}

.cw-728 {
  width: 728px;
}

.cw-729 {
  width: 729px;
}

.cw-730 {
  width: 730px;
}

.cw-731 {
  width: 731px;
}

.cw-732 {
  width: 732px;
}

.cw-733 {
  width: 733px;
}

.cw-734 {
  width: 734px;
}

.cw-735 {
  width: 735px;
}

.cw-736 {
  width: 736px;
}

.cw-737 {
  width: 737px;
}

.cw-738 {
  width: 738px;
}

.cw-739 {
  width: 739px;
}

.cw-740 {
  width: 740px;
}

.cw-741 {
  width: 741px;
}

.cw-742 {
  width: 742px;
}

.cw-743 {
  width: 743px;
}

.cw-744 {
  width: 744px;
}

.cw-745 {
  width: 745px;
}

.cw-746 {
  width: 746px;
}

.cw-747 {
  width: 747px;
}

.cw-748 {
  width: 748px;
}

.cw-749 {
  width: 749px;
}

.cw-750 {
  width: 750px;
}

.cw-751 {
  width: 751px;
}

.cw-752 {
  width: 752px;
}

.cw-753 {
  width: 753px;
}

.cw-754 {
  width: 754px;
}

.cw-755 {
  width: 755px;
}

.cw-756 {
  width: 756px;
}

.cw-757 {
  width: 757px;
}

.cw-758 {
  width: 758px;
}

.cw-759 {
  width: 759px;
}

.cw-760 {
  width: 760px;
}

.cw-761 {
  width: 761px;
}

.cw-762 {
  width: 762px;
}

.cw-763 {
  width: 763px;
}

.cw-764 {
  width: 764px;
}

.cw-765 {
  width: 765px;
}

.cw-766 {
  width: 766px;
}

.cw-767 {
  width: 767px;
}

.cw-768 {
  width: 768px;
}

.cw-769 {
  width: 769px;
}

.cw-770 {
  width: 770px;
}

.cw-771 {
  width: 771px;
}

.cw-772 {
  width: 772px;
}

.cw-773 {
  width: 773px;
}

.cw-774 {
  width: 774px;
}

.cw-775 {
  width: 775px;
}

.cw-776 {
  width: 776px;
}

.cw-777 {
  width: 777px;
}

.cw-778 {
  width: 778px;
}

.cw-779 {
  width: 779px;
}

.cw-780 {
  width: 780px;
}

.cw-781 {
  width: 781px;
}

.cw-782 {
  width: 782px;
}

.cw-783 {
  width: 783px;
}

.cw-784 {
  width: 784px;
}

.cw-785 {
  width: 785px;
}

.cw-786 {
  width: 786px;
}

.cw-787 {
  width: 787px;
}

.cw-788 {
  width: 788px;
}

.cw-789 {
  width: 789px;
}

.cw-790 {
  width: 790px;
}

.cw-791 {
  width: 791px;
}

.cw-792 {
  width: 792px;
}

.cw-793 {
  width: 793px;
}

.cw-794 {
  width: 794px;
}

.cw-795 {
  width: 795px;
}

.cw-796 {
  width: 796px;
}

.cw-797 {
  width: 797px;
}

.cw-798 {
  width: 798px;
}

.cw-799 {
  width: 799px;
}

.cw-800 {
  width: 800px;
}

.cw-801 {
  width: 801px;
}

.cw-802 {
  width: 802px;
}

.cw-803 {
  width: 803px;
}

.cw-804 {
  width: 804px;
}

.cw-805 {
  width: 805px;
}

.cw-806 {
  width: 806px;
}

.cw-807 {
  width: 807px;
}

.cw-808 {
  width: 808px;
}

.cw-809 {
  width: 809px;
}

.cw-810 {
  width: 810px;
}

.cw-811 {
  width: 811px;
}

.cw-812 {
  width: 812px;
}

.cw-813 {
  width: 813px;
}

.cw-814 {
  width: 814px;
}

.cw-815 {
  width: 815px;
}

.cw-816 {
  width: 816px;
}

.cw-817 {
  width: 817px;
}

.cw-818 {
  width: 818px;
}

.cw-819 {
  width: 819px;
}

.cw-820 {
  width: 820px;
}

.cw-821 {
  width: 821px;
}

.cw-822 {
  width: 822px;
}

.cw-823 {
  width: 823px;
}

.cw-824 {
  width: 824px;
}

.cw-825 {
  width: 825px;
}

.cw-826 {
  width: 826px;
}

.cw-827 {
  width: 827px;
}

.cw-828 {
  width: 828px;
}

.cw-829 {
  width: 829px;
}

.cw-830 {
  width: 830px;
}

.cw-831 {
  width: 831px;
}

.cw-832 {
  width: 832px;
}

.cw-833 {
  width: 833px;
}

.cw-834 {
  width: 834px;
}

.cw-835 {
  width: 835px;
}

.cw-836 {
  width: 836px;
}

.cw-837 {
  width: 837px;
}

.cw-838 {
  width: 838px;
}

.cw-839 {
  width: 839px;
}

.cw-840 {
  width: 840px;
}

.cw-841 {
  width: 841px;
}

.cw-842 {
  width: 842px;
}

.cw-843 {
  width: 843px;
}

.cw-844 {
  width: 844px;
}

.cw-845 {
  width: 845px;
}

.cw-846 {
  width: 846px;
}

.cw-847 {
  width: 847px;
}

.cw-848 {
  width: 848px;
}

.cw-849 {
  width: 849px;
}

.cw-850 {
  width: 850px;
}

.cw-851 {
  width: 851px;
}

.cw-852 {
  width: 852px;
}

.cw-853 {
  width: 853px;
}

.cw-854 {
  width: 854px;
}

.cw-855 {
  width: 855px;
}

.cw-856 {
  width: 856px;
}

.cw-857 {
  width: 857px;
}

.cw-858 {
  width: 858px;
}

.cw-859 {
  width: 859px;
}

.cw-860 {
  width: 860px;
}

.cw-861 {
  width: 861px;
}

.cw-862 {
  width: 862px;
}

.cw-863 {
  width: 863px;
}

.cw-864 {
  width: 864px;
}

.cw-865 {
  width: 865px;
}

.cw-866 {
  width: 866px;
}

.cw-867 {
  width: 867px;
}

.cw-868 {
  width: 868px;
}

.cw-869 {
  width: 869px;
}

.cw-870 {
  width: 870px;
}

.cw-871 {
  width: 871px;
}

.cw-872 {
  width: 872px;
}

.cw-873 {
  width: 873px;
}

.cw-874 {
  width: 874px;
}

.cw-875 {
  width: 875px;
}

.cw-876 {
  width: 876px;
}

.cw-877 {
  width: 877px;
}

.cw-878 {
  width: 878px;
}

.cw-879 {
  width: 879px;
}

.cw-880 {
  width: 880px;
}

.cw-881 {
  width: 881px;
}

.cw-882 {
  width: 882px;
}

.cw-883 {
  width: 883px;
}

.cw-884 {
  width: 884px;
}

.cw-885 {
  width: 885px;
}

.cw-886 {
  width: 886px;
}

.cw-887 {
  width: 887px;
}

.cw-888 {
  width: 888px;
}

.cw-889 {
  width: 889px;
}

.cw-890 {
  width: 890px;
}

.cw-891 {
  width: 891px;
}

.cw-892 {
  width: 892px;
}

.cw-893 {
  width: 893px;
}

.cw-894 {
  width: 894px;
}

.cw-895 {
  width: 895px;
}

.cw-896 {
  width: 896px;
}

.cw-897 {
  width: 897px;
}

.cw-898 {
  width: 898px;
}

.cw-899 {
  width: 899px;
}

.cw-900 {
  width: 900px;
}

.cw-901 {
  width: 901px;
}

.cw-902 {
  width: 902px;
}

.cw-903 {
  width: 903px;
}

.cw-904 {
  width: 904px;
}

.cw-905 {
  width: 905px;
}

.cw-906 {
  width: 906px;
}

.cw-907 {
  width: 907px;
}

.cw-908 {
  width: 908px;
}

.cw-909 {
  width: 909px;
}

.cw-910 {
  width: 910px;
}

.cw-911 {
  width: 911px;
}

.cw-912 {
  width: 912px;
}

.cw-913 {
  width: 913px;
}

.cw-914 {
  width: 914px;
}

.cw-915 {
  width: 915px;
}

.cw-916 {
  width: 916px;
}

.cw-917 {
  width: 917px;
}

.cw-918 {
  width: 918px;
}

.cw-919 {
  width: 919px;
}

.cw-920 {
  width: 920px;
}

.cw-921 {
  width: 921px;
}

.cw-922 {
  width: 922px;
}

.cw-923 {
  width: 923px;
}

.cw-924 {
  width: 924px;
}

.cw-925 {
  width: 925px;
}

.cw-926 {
  width: 926px;
}

.cw-927 {
  width: 927px;
}

.cw-928 {
  width: 928px;
}

.cw-929 {
  width: 929px;
}

.cw-930 {
  width: 930px;
}

.cw-931 {
  width: 931px;
}

.cw-932 {
  width: 932px;
}

.cw-933 {
  width: 933px;
}

.cw-934 {
  width: 934px;
}

.cw-935 {
  width: 935px;
}

.cw-936 {
  width: 936px;
}

.cw-937 {
  width: 937px;
}

.cw-938 {
  width: 938px;
}

.cw-939 {
  width: 939px;
}

.cw-940 {
  width: 940px;
}

.cw-941 {
  width: 941px;
}

.cw-942 {
  width: 942px;
}

.cw-943 {
  width: 943px;
}

.cw-944 {
  width: 944px;
}

.cw-945 {
  width: 945px;
}

.cw-946 {
  width: 946px;
}

.cw-947 {
  width: 947px;
}

.cw-948 {
  width: 948px;
}

.cw-949 {
  width: 949px;
}

.cw-950 {
  width: 950px;
}

.cw-951 {
  width: 951px;
}

.cw-952 {
  width: 952px;
}

.cw-953 {
  width: 953px;
}

.cw-954 {
  width: 954px;
}

.cw-955 {
  width: 955px;
}

.cw-956 {
  width: 956px;
}

.cw-957 {
  width: 957px;
}

.cw-958 {
  width: 958px;
}

.cw-959 {
  width: 959px;
}

.cw-960 {
  width: 960px;
}

.cw-961 {
  width: 961px;
}

.cw-962 {
  width: 962px;
}

.cw-963 {
  width: 963px;
}

.cw-964 {
  width: 964px;
}

.cw-965 {
  width: 965px;
}

.cw-966 {
  width: 966px;
}

.cw-967 {
  width: 967px;
}

.cw-968 {
  width: 968px;
}

.cw-969 {
  width: 969px;
}

.cw-970 {
  width: 970px;
}

.cw-971 {
  width: 971px;
}

.cw-972 {
  width: 972px;
}

.cw-973 {
  width: 973px;
}

.cw-974 {
  width: 974px;
}

.cw-975 {
  width: 975px;
}

.cw-976 {
  width: 976px;
}

.cw-977 {
  width: 977px;
}

.cw-978 {
  width: 978px;
}

.cw-979 {
  width: 979px;
}

.cw-980 {
  width: 980px;
}

.cw-981 {
  width: 981px;
}

.cw-982 {
  width: 982px;
}

.cw-983 {
  width: 983px;
}

.cw-984 {
  width: 984px;
}

.cw-985 {
  width: 985px;
}

.cw-986 {
  width: 986px;
}

.cw-987 {
  width: 987px;
}

.cw-988 {
  width: 988px;
}

.cw-989 {
  width: 989px;
}

.cw-990 {
  width: 990px;
}

.cw-991 {
  width: 991px;
}

.cw-992 {
  width: 992px;
}

.cw-993 {
  width: 993px;
}

.cw-994 {
  width: 994px;
}

.cw-995 {
  width: 995px;
}

.cw-996 {
  width: 996px;
}

.cw-997 {
  width: 997px;
}

.cw-998 {
  width: 998px;
}

.cw-999 {
  width: 999px;
}

.cw-1000 {
  width: 1000px;
}

.vertical-separator {
  border-right: 1px solid red;
  height: 50px;
  width: 0px;
  margin: 0 auto;
}

.horizontal-separator {
  border-bottom: 1px solid red;
  width: 50px;
  margin: auto 0;
}

.img-small {
  width: 110px;
}

.tech-logo {
  max-width: 130px;
  min-width: 90px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
